{% extends "layout.html" %}
{%block title %}
    TrueBooks
{% endblock %}

{% block header %}
    <div class="p-3 mb-2 bg-dark text-white clearfix">
        <ul class="nav justify-content-center"><span class="border border-dark">
        <h1>Welcome to the Books Know-it-All
        </h1>
    </span></ul>
   </div>
   <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link" href="">{{user_id}}<span class="sr-only"></span></a>
    <a class="nav-link" href="{{url_for('logout')}}">Logout<span class="sr-only"></span></a>
  </nav>
  
{% endblock %}

{% block body %}

    <h2>Search for a book</h2>
    <form action="{{ url_for('results' )}}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by ISBN, title or author"  name="to_search" aria-describedby="button-addon2">
            <div class="input-group-appe d">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
            </div>
          </div>
    </form>
        
{% endblock %}